In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_percentage_error

df=pd.read_csv("heart_disease.csv",sep=",")# heart disease csv dosyamı okuttum ve kütüphaneleri import ettim

In [7]:
print(df.head())#csv dosyasının ilk 5 satırını görmek için yazdırdım

   Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0    Male   39   postgraduate             N         0.0     0.0
1  Female   46  primaryschool             N         0.0     0.0
2    Male   48     uneducated             Y        20.0     0.0
3  Female   61       graduate             Y        30.0     0.0
4  Female   46       graduate             Y        23.0     0.0

  prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0              no             0         0    195.0  106.0   70.0  26.97
1              no             0         0    250.0  121.0   81.0  28.73
2              no             0         0    245.0  127.5   80.0  25.34
3              no             1         0    225.0  150.0   95.0  28.58
4              no             0         0    285.0  130.0   84.0  23.10

   heartRate  glucose Heart_ stroke
0       80.0     77.0            No
1       95.0     76.0            No
2       75.0     70.0            No
3       65.0    103.0           yes
4       85.0     85.0            No

In [8]:
print(df.info()) #veri setimdeki veriler hakkında bilgi alma için bu kodu kullandım. BOş değer var mı, kaç girdi var

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4238 non-null   object
 1   age              4238 non-null   int64
 2   education        4133 non-null   object
 3   currentSmoker    4238 non-null   object
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   object
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  Heart_ stroke    4238 non-null   object
dtypes: float64(8), int64(3), object(5)
memory usage: 529.9+ KB
None

In [9]:
print(df.describe())#benim veri setim çok büyük olduğu için değerler büyük çıktı bununla ilgili bir düzenleme yapacağım

               age   cigsPerDay       BPMeds  prevalentHyp     diabetes  \
count  4238.000000  4209.000000  4185.000000   4238.000000  4238.000000
mean     49.584946     9.003089     0.029630      0.310524     0.025720
std       8.572160    11.920094     0.169584      0.462763     0.158316
min      32.000000     0.000000     0.000000      0.000000     0.000000
25%      42.000000     0.000000     0.000000      0.000000     0.000000
50%      49.000000     0.000000     0.000000      0.000000     0.000000
75%      56.000000    20.000000     0.000000      1.000000     0.000000
max      70.000000    70.000000     1.000000      1.000000     1.000000

           totChol        sysBP        diaBP          BMI    heartRate  \
count  4188.000000  4238.000000  4238.000000  4219.000000  4237.000000
mean    236.721585   132.352407    82.893464    25.802008    75.878924
std      44.590334    22.038097    11.910850     4.080111    12.026596
min     107.000000    83.500000    48.000000    15.540000    44.000000
25%     206.000000   117.000000    75.000000    23.070000    68.000000
50%     234.000000   128.000000    82.000000    25.400000    75.000000
75%     263.000000   144.000000    89.875000    28.040000    83.000000
max     696.000000   295.000000   142.500000    56.800000   143.000000

           glucose
count  3850.000000
mean     81.966753
std      23.959998
min      40.000000
25%      71.000000
50%      78.000000
75%      87.000000
max     394.000000

In [10]:
df_sampled=df.sample(n=300, random_state=42).reset_index(drop=True)

In [11]:
print(df_sampled) # veri setimin satırlarını indirgemek için bu kodu kullanıyorum ve ardından yeni DataFrame oluşuyor 
# yeni DataFrame adı df_sampled bundan sonraki işlemlerime bunun üzerinden yapacağım.

     Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0      Male   63     uneducated             N         0.0     0.0
1      Male   45       graduate             N         0.0     0.0
2    Female   51     uneducated             Y         2.0     0.0
3      Male   45       graduate             Y        30.0     0.0
4    Female   45  primaryschool             Y         3.0     0.0
..      ...  ...            ...           ...         ...     ...
295    Male   59     uneducated             Y         3.0     0.0
296    Male   42  primaryschool             Y        20.0     0.0
297  Female   60  primaryschool             N         0.0     0.0
298    Male   67     uneducated             Y        40.0     0.0
299  Female   43  primaryschool             N         0.0     0.0

    prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                no             1         0    190.0  148.0   90.0  27.13
1                no             0         0    162.0  125.0   89.0  27.98
2                no             0         0    261.0  127.0   81.0  20.24
3                no             0         0    250.0  126.0   89.5  28.68
4                no             0         0    250.0  130.0   80.0  20.24
..              ...           ...       ...      ...    ...    ...    ...
295              no             1         1    230.0  182.0  102.0  25.91
296              no             0         0    238.0  133.0   88.0  28.84
297              no             1         0    335.0  199.0   83.0  24.61
298              no             1         0    216.0  148.0   70.0  32.63
299              no             0         0    190.0  111.0   74.0  24.47

     heartRate  glucose Heart_ stroke
0         72.0     86.0            No
1         85.0     83.0            No
2         75.0     96.0            No
3         75.0     92.0            No
4         90.0     86.0            No
..         ...      ...           ...
295       66.0    147.0           yes
296       80.0     58.0            No
297       80.0     90.0            No
298       90.0    103.0           yes
299       72.0      NaN            No

[300 rows x 16 columns]

In [12]:
print(df_sampled.head())
print(df_sampled.info())# df_sampled için tekraradan ilk 5 sütun getirme ve hangi değerler boş veya kaç girdi var için yeniden yazdırıyorum

   Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0    Male   63     uneducated             N         0.0     0.0
1    Male   45       graduate             N         0.0     0.0
2  Female   51     uneducated             Y         2.0     0.0
3    Male   45       graduate             Y        30.0     0.0
4  Female   45  primaryschool             Y         3.0     0.0

  prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0              no             1         0    190.0  148.0   90.0  27.13
1              no             0         0    162.0  125.0   89.0  27.98
2              no             0         0    261.0  127.0   81.0  20.24
3              no             0         0    250.0  126.0   89.5  28.68
4              no             0         0    250.0  130.0   80.0  20.24

   heartRate  glucose Heart_ stroke
0       72.0     86.0            No
1       85.0     83.0            No
2       75.0     96.0            No
3       75.0     92.0            No
4       90.0     86.0            No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           300 non-null    object
 1   age              300 non-null    int64
 2   education        296 non-null    object
 3   currentSmoker    300 non-null    object
 4   cigsPerDay       299 non-null    float64
 5   BPMeds           299 non-null    float64
 6   prevalentStroke  300 non-null    object
 7   prevalentHyp     300 non-null    int64
 8   diabetes         300 non-null    int64
 9   totChol          298 non-null    float64
 10  sysBP            300 non-null    float64
 11  diaBP            300 non-null    float64
 12  BMI              297 non-null    float64
 13  heartRate        300 non-null    float64
 14  glucose          274 non-null    float64
 15  Heart_ stroke    300 non-null    object
dtypes: float64(8), int64(3), object(5)
memory usage: 37.6+ KB
None

In [13]:
print(df_sampled.describe())# df_sampled için istatiksel işlemler için describe komutunu çalıştırıyorum

              age  cigsPerDay      BPMeds  prevalentHyp    diabetes  \
count  300.000000  299.000000  299.000000    300.000000  300.000000
mean    49.706667    7.515050    0.026756      0.283333    0.023333
std      8.747706   10.472508    0.161640      0.451370    0.151212
min     33.000000    0.000000    0.000000      0.000000    0.000000
25%     42.000000    0.000000    0.000000      0.000000    0.000000
50%     49.000000    0.000000    0.000000      0.000000    0.000000
75%     57.000000   15.000000    0.000000      1.000000    0.000000
max     69.000000   43.000000    1.000000      1.000000    1.000000

          totChol       sysBP       diaBP         BMI   heartRate     glucose
count  298.000000  300.000000  300.000000  297.000000  300.000000  274.000000
mean   237.701342  132.035000   82.263333   25.699428   75.000000   81.671533
std     45.008133   20.995571   11.328140    3.955254   11.809525   20.955599
min    113.000000   85.000000   55.000000   16.590000   48.000000   50.000000
25%    206.000000  117.875000   75.000000   23.080000   66.000000   71.000000
50%    235.000000  128.000000   81.000000   25.610000   75.000000   78.000000
75%    267.500000  143.625000   88.250000   27.910000   81.000000   87.000000
max    372.000000  213.000000  133.000000   40.810000  120.000000  292.000000

In [14]:
print(df_sampled.isna().sum().sum())#boş verilerimi saydım.

37

In [15]:
df_sampled["totChol"].fillna((df["totChol"].mean()),inplace=True)
df_sampled["cigsPerDay"].fillna((df["cigsPerDay"].mean()),inplace=True)
df_sampled["BPMeds"].fillna((df["BPMeds"].mean()),inplace=True)
df_sampled["BMI"].fillna((df["BMI"].mean()),inplace=True)
df_sampled["glucose"].fillna((df["glucose"].mean()),inplace=True)
print(df_sampled)#boş olan verilirimi ortalama değer ile doldurdum.

     Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0      Male   63     uneducated             N         0.0     0.0
1      Male   45       graduate             N         0.0     0.0
2    Female   51     uneducated             Y         2.0     0.0
3      Male   45       graduate             Y        30.0     0.0
4    Female   45  primaryschool             Y         3.0     0.0
..      ...  ...            ...           ...         ...     ...
295    Male   59     uneducated             Y         3.0     0.0
296    Male   42  primaryschool             Y        20.0     0.0
297  Female   60  primaryschool             N         0.0     0.0
298    Male   67     uneducated             Y        40.0     0.0
299  Female   43  primaryschool             N         0.0     0.0

    prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                no             1         0    190.0  148.0   90.0  27.13
1                no             0         0    162.0  125.0   89.0  27.98
2                no             0         0    261.0  127.0   81.0  20.24
3                no             0         0    250.0  126.0   89.5  28.68
4                no             0         0    250.0  130.0   80.0  20.24
..              ...           ...       ...      ...    ...    ...    ...
295              no             1         1    230.0  182.0  102.0  25.91
296              no             0         0    238.0  133.0   88.0  28.84
297              no             1         0    335.0  199.0   83.0  24.61
298              no             1         0    216.0  148.0   70.0  32.63
299              no             0         0    190.0  111.0   74.0  24.47

     heartRate     glucose Heart_ stroke
0         72.0   86.000000            No
1         85.0   83.000000            No
2         75.0   96.000000            No
3         75.0   92.000000            No
4         90.0   86.000000            No
..         ...         ...           ...
295       66.0  147.000000           yes
296       80.0   58.000000            No
297       80.0   90.000000            No
298       90.0  103.000000           yes
299       72.0   81.966753            No

[300 rows x 16 columns]

In [16]:
df_sampled["education"].fillna("uneducated",inplace=True)# education sütunundaki boş değerleri uneducated olarak doldurdum.
print(df_sampled)

     Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0      Male   63     uneducated             N         0.0     0.0
1      Male   45       graduate             N         0.0     0.0
2    Female   51     uneducated             Y         2.0     0.0
3      Male   45       graduate             Y        30.0     0.0
4    Female   45  primaryschool             Y         3.0     0.0
..      ...  ...            ...           ...         ...     ...
295    Male   59     uneducated             Y         3.0     0.0
296    Male   42  primaryschool             Y        20.0     0.0
297  Female   60  primaryschool             N         0.0     0.0
298    Male   67     uneducated             Y        40.0     0.0
299  Female   43  primaryschool             N         0.0     0.0

    prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                no             1         0    190.0  148.0   90.0  27.13
1                no             0         0    162.0  125.0   89.0  27.98
2                no             0         0    261.0  127.0   81.0  20.24
3                no             0         0    250.0  126.0   89.5  28.68
4                no             0         0    250.0  130.0   80.0  20.24
..              ...           ...       ...      ...    ...    ...    ...
295              no             1         1    230.0  182.0  102.0  25.91
296              no             0         0    238.0  133.0   88.0  28.84
297              no             1         0    335.0  199.0   83.0  24.61
298              no             1         0    216.0  148.0   70.0  32.63
299              no             0         0    190.0  111.0   74.0  24.47

     heartRate     glucose Heart_ stroke
0         72.0   86.000000            No
1         85.0   83.000000            No
2         75.0   96.000000            No
3         75.0   92.000000            No
4         90.0   86.000000            No
..         ...         ...           ...
295       66.0  147.000000           yes
296       80.0   58.000000            No
297       80.0   90.000000            No
298       90.0  103.000000           yes
299       72.0   81.966753            No

[300 rows x 16 columns]

In [17]:
print(df_sampled.head())
print(df_sampled.info())# boş verilerimi doldurduktan sonra tekrar head ve info komutlarını çalıştırıp kontrol ediyorum.

   Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0    Male   63     uneducated             N         0.0     0.0
1    Male   45       graduate             N         0.0     0.0
2  Female   51     uneducated             Y         2.0     0.0
3    Male   45       graduate             Y        30.0     0.0
4  Female   45  primaryschool             Y         3.0     0.0

  prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0              no             1         0    190.0  148.0   90.0  27.13
1              no             0         0    162.0  125.0   89.0  27.98
2              no             0         0    261.0  127.0   81.0  20.24
3              no             0         0    250.0  126.0   89.5  28.68
4              no             0         0    250.0  130.0   80.0  20.24

   heartRate  glucose Heart_ stroke
0       72.0     86.0            No
1       85.0     83.0            No
2       75.0     96.0            No
3       75.0     92.0            No
4       90.0     86.0            No
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           300 non-null    object
 1   age              300 non-null    int64
 2   education        300 non-null    object
 3   currentSmoker    300 non-null    object
 4   cigsPerDay       300 non-null    float64
 5   BPMeds           300 non-null    float64
 6   prevalentStroke  300 non-null    object
 7   prevalentHyp     300 non-null    int64
 8   diabetes         300 non-null    int64
 9   totChol          300 non-null    float64
 10  sysBP            300 non-null    float64
 11  diaBP            300 non-null    float64
 12  BMI              300 non-null    float64
 13  heartRate        300 non-null    float64
 14  glucose          300 non-null    float64
 15  Heart_ stroke    300 non-null    object
dtypes: float64(8), int64(3), object(5)
memory usage: 37.6+ KB
None

In [18]:
df_sampled["currentSmoker"]=["Y" if row==1 else "N" for row in df_sampled["currentSmoker"]]
print(df_sampled)#curretSmoker sütununu kategorize yaptım 0=N ve 1=Y oldu yes no olarak kategorize oldu

     Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0      Male   63     uneducated             N         0.0     0.0
1      Male   45       graduate             N         0.0     0.0
2    Female   51     uneducated             N         2.0     0.0
3      Male   45       graduate             N        30.0     0.0
4    Female   45  primaryschool             N         3.0     0.0
..      ...  ...            ...           ...         ...     ...
295    Male   59     uneducated             N         3.0     0.0
296    Male   42  primaryschool             N        20.0     0.0
297  Female   60  primaryschool             N         0.0     0.0
298    Male   67     uneducated             N        40.0     0.0
299  Female   43  primaryschool             N         0.0     0.0

    prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                no             1         0    190.0  148.0   90.0  27.13
1                no             0         0    162.0  125.0   89.0  27.98
2                no             0         0    261.0  127.0   81.0  20.24
3                no             0         0    250.0  126.0   89.5  28.68
4                no             0         0    250.0  130.0   80.0  20.24
..              ...           ...       ...      ...    ...    ...    ...
295              no             1         1    230.0  182.0  102.0  25.91
296              no             0         0    238.0  133.0   88.0  28.84
297              no             1         0    335.0  199.0   83.0  24.61
298              no             1         0    216.0  148.0   70.0  32.63
299              no             0         0    190.0  111.0   74.0  24.47

     heartRate     glucose Heart_ stroke
0         72.0   86.000000            No
1         85.0   83.000000            No
2         75.0   96.000000            No
3         75.0   92.000000            No
4         90.0   86.000000            No
..         ...         ...           ...
295       66.0  147.000000           yes
296       80.0   58.000000            No
297       80.0   90.000000            No
298       90.0  103.000000           yes
299       72.0   81.966753            No

[300 rows x 16 columns]

In [19]:
df_sampled["prevalentHyp"]=["Y" if row==1 else "N" for row in df_sampled["prevalentHyp"]]
df_sampled["diabetes"]=["Y" if row==1 else "N" for row in df_sampled["diabetes"]]

print(df_sampled)
print(df_sampled.info()) # prevalentHyp ve diyabet değerleride veri setinde 0 ve 1 şeklindeydi onları kategorize yaptım.

     Gender  age      education currentSmoker  cigsPerDay  BPMeds  \
0      Male   63     uneducated             N         0.0     0.0
1      Male   45       graduate             N         0.0     0.0
2    Female   51     uneducated             N         2.0     0.0
3      Male   45       graduate             N        30.0     0.0
4    Female   45  primaryschool             N         3.0     0.0
..      ...  ...            ...           ...         ...     ...
295    Male   59     uneducated             N         3.0     0.0
296    Male   42  primaryschool             N        20.0     0.0
297  Female   60  primaryschool             N         0.0     0.0
298    Male   67     uneducated             N        40.0     0.0
299  Female   43  primaryschool             N         0.0     0.0

    prevalentStroke prevalentHyp diabetes  totChol  sysBP  diaBP    BMI  \
0                no            Y        N    190.0  148.0   90.0  27.13
1                no            N        N    162.0  125.0   89.0  27.98
2                no            N        N    261.0  127.0   81.0  20.24
3                no            N        N    250.0  126.0   89.5  28.68
4                no            N        N    250.0  130.0   80.0  20.24
..              ...          ...      ...      ...    ...    ...    ...
295              no            Y        Y    230.0  182.0  102.0  25.91
296              no            N        N    238.0  133.0   88.0  28.84
297              no            Y        N    335.0  199.0   83.0  24.61
298              no            Y        N    216.0  148.0   70.0  32.63
299              no            N        N    190.0  111.0   74.0  24.47

     heartRate     glucose Heart_ stroke
0         72.0   86.000000            No
1         85.0   83.000000            No
2         75.0   96.000000            No
3         75.0   92.000000            No
4         90.0   86.000000            No
..         ...         ...           ...
295       66.0  147.000000           yes
296       80.0   58.000000            No
297       80.0   90.000000            No
298       90.0  103.000000           yes
299       72.0   81.966753            No

[300 rows x 16 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           300 non-null    object
 1   age              300 non-null    int64
 2   education        300 non-null    object
 3   currentSmoker    300 non-null    object
 4   cigsPerDay       300 non-null    float64
 5   BPMeds           300 non-null    float64
 6   prevalentStroke  300 non-null    object
 7   prevalentHyp     300 non-null    object
 8   diabetes         300 non-null    object
 9   totChol          300 non-null    float64
 10  sysBP            300 non-null    float64
 11  diaBP            300 non-null    float64
 12  BMI              300 non-null    float64
 13  heartRate        300 non-null    float64
 14  glucose          300 non-null    float64
 15  Heart_ stroke    300 non-null    object
dtypes: float64(8), int64(1), object(7)
memory usage: 37.6+ KB
None

In [20]:
print(df_sampled[df_sampled.duplicated()])

Empty DataFrame
Columns: [Gender, age, education, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose, Heart_ stroke]
Index: []

In [21]:
print(df_sampled.duplicated())# tekaralayan veriler için

0      False
1      False
2      False
3      False
4      False
       ...
295    False
296    False
297    False
298    False
299    False
Length: 300, dtype: bool

In [22]:
dfScaler = df.select_dtypes(include=[np.number])  
x = (dfScaler - dfScaler.min()) / (dfScaler.max() - dfScaler.min())  
print(x)# burada min-max normalizasyonu yaptım.

           age  cigsPerDay  BPMeds  prevalentHyp  diabetes   totChol  \
0     0.184211    0.000000     0.0           0.0       0.0  0.149406
1     0.368421    0.000000     0.0           0.0       0.0  0.242784
2     0.421053    0.285714     0.0           0.0       0.0  0.234295
3     0.763158    0.428571     0.0           1.0       0.0  0.200340
4     0.368421    0.328571     0.0           0.0       0.0  0.302207
...        ...         ...     ...           ...       ...       ...
4233  0.473684    0.014286     0.0           1.0       0.0  0.349745
4234  0.500000    0.614286     0.0           0.0       0.0  0.169779
4235  0.421053    0.285714     NaN           0.0       0.0  0.239389
4236  0.315789    0.214286     0.0           0.0       0.0  0.174873
4237  0.526316    0.000000     0.0           0.0       0.0  0.275042

         sysBP     diaBP       BMI  heartRate   glucose
0     0.106383  0.232804  0.277024   0.363636  0.104520
1     0.177305  0.349206  0.319680   0.515152  0.101695
2     0.208038  0.338624  0.237518   0.313131  0.084746
3     0.314421  0.497354  0.316045   0.212121  0.177966
4     0.219858  0.380952  0.183228   0.414141  0.127119
...        ...       ...       ...        ...       ...
4233  0.451537  0.465608  0.252787   0.222222  0.129944
4234  0.203310  0.338624  0.101066   0.212121  0.079096
4235  0.224586  0.253968  0.156568   0.404040  0.129944
4236  0.203310  0.412698  0.087736   0.424242       NaN
4237  0.236407  0.370370  0.143723   0.363636  0.189266

[4238 rows x 11 columns]

In [23]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_percentage_error
from scipy import stats

df_numeric = df_sampled.select_dtypes(include=[np.number])
z = np.abs(stats.zscore(df_numeric))
print(z)
# z score hesaplandı seçili numeric değerler için str olan değerlerde sayısal 
#işlemler yapılamıyor o yüzden numaric komutunu kullandım.

          age  cigsPerDay    BPMeds   totChol     sysBP     diaBP       BMI  \
0    1.522176    0.720453  0.166142  1.065030  0.761669  0.684101  0.363862
1    0.538945    0.720453  0.166142  1.690273  0.335631  0.595678  0.580213
2    0.148095    0.528843  0.166142  0.520407  0.240213  0.111708  1.389849
3    0.538945    2.153690  0.166142  0.274776  0.287922  0.639890  0.758384
4    0.538945    0.433039  0.166142  0.274776  0.097087  0.200131  1.389849
..        ...         ...       ...       ...       ...       ...       ...
295  1.064149    0.433039  0.166142  0.171826  2.383764  1.745180  0.053336
296  0.882465    1.195643  0.166142  0.006815  0.046039  0.507255  0.799109
297  1.178655    0.720453  0.166142  2.172835  3.194811  0.065138  0.277553
298  1.980202    3.111738  0.166142  0.484447  0.761669  1.084364  1.763777
299  0.767958    0.720453  0.166142  1.065030  1.003552  0.730671  0.313187

     heartRate   glucose
0     0.254457  0.215246
1     0.848189  0.065175
2     0.000000  0.715482
3     0.000000  0.515388
4     1.272283  0.215246
..         ...       ...
295   0.763370  3.266689
296   0.424094  1.185417
297   0.424094  0.415341
298   1.272283  1.065648
299   0.254457  0.013488

[300 rows x 9 columns]

In [24]:
print(np.where (z>3))

(array([  9,  11,  20,  25,  40,  51,  60,  80,  80, 116, 130, 134, 145,
       153, 154, 154, 155, 170, 184, 205, 207, 211, 211, 231, 257, 262,
       295, 297, 298], dtype=int64), array([8, 2, 4, 7, 2, 1, 6, 4, 5, 1, 8, 2, 1, 2, 2, 6, 2, 8, 1, 2, 6, 4,
       5, 6, 4, 2, 8, 4, 1], dtype=int64))

In [25]:
selected=df_sampled.iloc[np.where (z>3)[0]].index
print(selected)# z skorunun 3 ten büyük olduğu yerlere bakıyoruz ve selected değişkenine atıyoruz

Index([  9,  11,  20,  25,  40,  51,  60,  80,  80, 116, 130, 134, 145, 153,
       154, 154, 155, 170, 184, 205, 207, 211, 211, 231, 257, 262, 295, 297,
       298],
      dtype='int64')

In [26]:
dfN=df_sampled.drop(selected,axis=0,inplace=True)# burda üstte yaptığımız işlemdeki selected değişkenndeki değerleri dfN 
# DataFramine atadık ve silme işlemi yaptık.

In [27]:
dfN=df_sampled
print(dfN.shape)

(274, 16)

In [28]:
dfN = dfN.select_dtypes(include=[np.number])  # Sadece sayısal sütunları seçtik ve normalizasyon yaptık 
dfN = (dfN - dfN.min()) / (dfN.max() - dfN.min())

In [29]:
print(dfN)

          age  cigsPerDay  BPMeds   totChol     sysBP     diaBP       BMI  \
0    0.833333    0.000000     0.0  0.297297  0.583333  0.616822  0.508933
1    0.333333    0.000000     0.0  0.189189  0.370370  0.598131  0.549976
2    0.500000    0.057143     0.0  0.571429  0.388889  0.448598  0.176243
3    0.333333    0.857143     0.0  0.528958  0.379630  0.607477  0.583776
4    0.333333    0.085714     0.0  0.528958  0.416667  0.429907  0.176243
..        ...         ...     ...       ...       ...       ...       ...
292  0.166667    0.085714     0.0  0.281853  0.268519  0.373832  0.213423
293  0.527778    0.000000     0.0  0.729730  0.231481  0.196262  0.334138
294  0.194444    0.428571     0.0  0.413127  0.430556  0.476636  0.374698
296  0.250000    0.571429     0.0  0.482625  0.444444  0.579439  0.591502
299  0.277778    0.000000     0.0  0.297297  0.240741  0.317757  0.380493

     heartRate   glucose
0     0.387097  0.455696
1     0.596774  0.417722
2     0.435484  0.582278
3     0.435484  0.531646
4     0.677419  0.455696
..         ...       ...
292   0.516129  0.443038
293   0.241935  0.468354
294   0.516129  0.354430
296   0.516129  0.101266
299   0.387097  0.404642

[274 rows x 9 columns]

In [30]:
print(dfN.columns)
# burada bu komutu yaptığım işlemler sonucunda hangi sütunlarım kaldı onun için tekrardan sütunlarımı görebilmek için kullandım bu kodu.

Index(['age', 'cigsPerDay', 'BPMeds', 'totChol', 'sysBP', 'diaBP', 'BMI',
       'heartRate', 'glucose'],
      dtype='object')

In [31]:
print(dfN.isnull().sum()) # Eksik değerlerin her sütunda kaç kez bulunduğunu yazdırdım

dfN = dfN.dropna() # Eksik değer içeren satırları kaldırdım

y = dfN["heartRate"].values

x = dfN.drop("heartRate", axis=1).values
#heartRate değerine göre satır sütun değerlerini belirledim normalde  verisetimde heart stroke sütunumda vardı ama 
# o sütun işlemleri uyguladığımda demekki veri olarak bir sıkıntı olduğu için silindi bende bu yüzden heartRate 
#sütununa göre x ve y değerlerimi ayarladım.

age           0
cigsPerDay    0
BPMeds        0
totChol       0
sysBP         0
diaBP         0
BMI           0
heartRate     0
glucose       0
dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)
#burada gerekli kütüphaneleri import ettim ve train ve test için verileri böldüm teste %10'luk bir veri verdim 

# Linear Regression
mlr = LinearRegression()
mlr.fit(x_train, y_train)
mlr_pred = mlr.predict(x_test)

# Decision Tree Regressor
dt = DecisionTreeRegressor()
dt.fit(x_train, y_train)
dt_pred = dt.predict(x_test)

# Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train.ravel()) 
rf_pred = rf.predict(x_test)

In [33]:
print("mlr",r2_score(y_test,mlr_pred),mean_absolute_percentage_error(y_test,mlr_pred))
print("dt",r2_score(y_test,dt_pred),mean_absolute_percentage_error(y_test,dt_pred))
print("rf",r2_score(y_test,rf_pred),mean_absolute_percentage_error(y_test,rf_pred))

mlr -0.1441040982484727 0.4086990057009639
dt -2.906337633202469 0.6867346881828019
rf -0.23746542655948222 0.4186075782952746

In [34]:
from sklearn.preprocessing import PolynomialFeatures
plr=PolynomialFeatures(degree=3)
# 3.dereceden polinom 
x_pol=plr.fit_transform(x)

lr_pol=LinearRegression()
lr_pol.fit(x_pol,y)
print(lr_pol.intercept_,lr_pol.coef_)

xnew=plr.fit_transform(np.array([[80,22]]))
y_pred_pol=lr_pol.predict(xnew)
print(y_pred_pol)
# sürekli hata aldım neden olduğunu anlamadım .

0.2875110639526801 [ 5.11192397e-11  6.53048626e-01  5.76229476e-01  3.01681897e-02
 -1.23716149e+00  1.15883622e+00 -2.02211012e+00  1.29449962e+00
 -1.25303697e-01  1.67894460e+00  2.49845080e+00  5.02803162e-03
 -6.62800071e+00  7.47291966e-01  5.76029098e-01  7.28055565e-01
 -4.06993671e+00  3.31864223e-02  2.02271533e-12 -9.58790720e-01
 -3.57584398e+00  4.29696418e+00 -4.45592774e+00  3.17233052e-02
  3.01681897e-02  1.50258551e-02  7.82138252e-03  1.57889591e-02
  1.30374359e-02  2.06212942e-02  3.77953271e+00 -3.11861303e+00
  3.30583699e+00 -2.53145316e+00  1.01661310e+01  9.07619719e+00
 -2.71191323e+01  1.72303335e+00  6.83004753e+00  9.29291622e+00
  7.72716824e+00  2.05035398e+00 -1.69741760e+00 -7.86889818e+00
 -2.57084136e+00  2.07105715e+00 -1.29476143e+00  8.38005270e-04
 -4.24935360e+00 -8.17598851e+00  6.21358590e+00  7.93633621e-01
 -5.91207577e+00 -6.91024337e-01  7.90478794e-14 -5.78015518e+00
  9.07416820e+00 -3.70541266e+00 -1.51728703e+00  1.15455843e+00
  5.02803162e-03  2.50430918e-03  1.30356375e-03  2.63149318e-03
  2.17290599e-03  3.43688237e-03  5.28429774e+00  7.65350664e+00
 -7.31006648e+00  1.31940873e+00  1.45468893e+01  5.21619833e+00
 -7.62264016e+00 -5.36344165e+00  1.05489977e+01  1.23134338e+00
  3.19954560e+00 -4.62957928e+00 -2.13814136e+00  1.47497276e+00
  3.60113128e-01 -1.22723777e+00 -6.39488462e-14 -7.78186853e-01
  1.55428271e+00 -2.81405581e-01  4.05096740e+00 -1.52890266e-01
  2.84217094e-14 -2.66453526e-14  3.90798505e-14  3.90798505e-14
  2.48689958e-14 -2.48689958e-14  4.41129127e+00  7.56285254e-01
 -5.26230954e+00  3.50053511e+00 -6.87250151e-03 -3.28256528e+00
  1.49967581e+01 -3.39222272e+00 -8.91877548e+00 -8.32783076e+00
 -7.36941792e-01  4.39212358e+00  1.70587033e+00  1.15207762e+00
  4.66113237e-01  3.01681897e-02  1.50258551e-02  7.82138252e-03
  1.57889591e-02  1.30374359e-02  2.06212942e-02  7.48392011e-03
  3.89559207e-03  7.86399894e-03  6.49354917e-03  1.02708377e-02
  2.02776584e-03  4.09343384e-03  3.38007598e-03  5.34626147e-03
  8.26338047e-03  6.82333095e-03  1.07924531e-02  5.63423716e-03
  8.91166506e-03  1.40955682e-02 -4.44313231e+00  6.62979779e+00
 -2.02331370e-01 -4.39269605e-01 -8.45001539e+00 -1.85546522e+01
  3.62383326e+01 -2.50993852e+00 -1.81436998e+01 -1.47278117e+01
  6.40380163e-01  9.84089117e-01  3.08385307e+00 -2.27641451e+00
 -6.24380343e-01 -2.61124000e-01  1.04286264e+01 -6.85499313e+00
 -5.48359059e+00 -8.79124672e+00  6.87203492e+00  1.34622701e+01
  9.29068649e+00 -7.10317236e+00  2.91094155e-01  2.98062368e+00
 -8.47921250e-01 -2.52605253e+00 -1.18448607e+01 -2.90421397e+00
 -4.37211911e+00 -2.50562156e-01  7.93515842e+00  5.21170727e+00
  1.40707866e+00]

ValueError: X has 10 features, but LinearRegression is expecting 165 features as input.

In [35]:
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_pred_pol = lr_pol.predict(x_pol)  # Polinom regresyonu için tahminler 

# MAE için Hesaplama
mae = mean_absolute_error(y, y_pred_pol)
print(f"Mean Absolute Error (MAE): {mae}")

# MSE için Hesaplama
mse = mean_squared_error(y, y_pred_pol)
print(f"Mean Squared Error (MSE): {mse}")

# MAPE içimn hesaplama
non_zero_mask = y != 0  # Gerçek değeri sıfır olmayan verileri seçtim
mape = np.mean(np.abs((y[non_zero_mask] - y_pred_pol[non_zero_mask]) / y[non_zero_mask])) * 100
print(f"Mean Absolute Percentage Error (MAPE): {mape}%")
#mapede ZeroDivision error veriyor vermesin diye bu kodu böyle araştırıp düzenledim

Mean Absolute Error (MAE): 0.10515887515406007
Mean Squared Error (MSE): 0.01808423333305918
Mean Absolute Percentage Error (MAPE): 43.30996379814362%

* bu değerler içinde mlr modeli en iyi sonucu gösteriyor . decision tree çok kötü perfomans gösteriyor negatif değerde perfomans gösteriyor.random forest olan model mlrden daha az performans gösteriyor. Bu durumda mlr en iyi modeldir.